<header>
    <div class="navbar">
        <div class="navbar-cont">
            <div class="navbar-cont-logo"></div>
            <div class="navbar-cont-btn">Buy now</div>
            <div class="navbar-cont-menu"></div>
        </div>
        <ul class="navbar-menu">
            <li class="navbar-menu__item">Overview</li>
            <li class="navbar-menu__item">About Fork</li>
            <li class="navbar-menu__item">Buying Options</li>
            <li class="navbar-menu__item">Support</li>
            <a class="navbar-menu__item-btn">Buy now</a>
        </ul>
        <div class="navbar-overlay"></div>
    </div>
    <div class="text">
        <h1>Fork App</h1>
        <h2>A real gamechanger in the world of web development</h2>
        <span>v. 2.8 For Mac and Windows</span>
    </div>
    <div class="dwld">
        <a class="dwld__btn">Download For Free Now</a>
        <div class="dwld__txt">Unlimited 30-Days Trial Period</div>
    </div>
</header>