<section class="price">
    <h2 class="price-title">Fork Subscription Pricing</h2>
    <div class="price-blur" id="par">
        <div class="price-blur__item students">
            <div class="price-blur__item__name">Students</div>
            <div class="price-blur__item__wrapp">
                <div class="price-blur__item__wrapp__value"><span>$</span><span>29</span></div>
                <span class="price-blur__item__wrapp__dur">per month</span>
                <div class="price-blur__item__wrapp__serv">
                    <span class="price-blur__item__wrapp__serv_edt">Personal License</span>
                </div>
                <a class="price-blur__item__wrapp__btn">purchase</a>
            </div>
        </div>
        <div class="price-blur__item professional">
            <div class="price-blur__item__name">professional</div>
            <div class="price-blur__item__wrapp">
                <span class="price-blur__item__wrapp__value"><span>$</span><span>59</span></span>
                <span class="price-blur__item__wrapp__dur">per month</span>
                <div class="price-blur__item__wrapp__serv">
                    <span>Professional License</span>
                    <span>Email Support</span>
                </div>
                <a class="price-blur__item__wrapp__btn">purchase</a>
            </div>
        </div>
        <div class="price-blur__item agency price-blur__item_hover">
            <div class="price-blur__item__name price-blur__item__name_hover">agency</div>
            <div class="price-blur__item__wrapp price-blur__item__wrapp_hover">
                <span class="price-blur__item__wrapp__value"><span>$</span><span>99</span></span>
                <span class="price-blur__item__wrapp__dur">per month</span>
                <div class="price-blur__item__wrapp__serv">
                    <span>1-12 Team Members</span>
                    <span>Phone Support</span>
                </div>
                <a class="price-blur__item__wrapp__btn price-blur__item__wrapp__btn_hover">purchase</a>
            </div>
        </div>
        <div class="price-blur__item enterprise">
            <div class="price-blur__item__name">enterprise</div>
            <div class="price-blur__item__wrapp">
                <span class="price-blur__item__wrapp__value"><span>$</span><span>159</span></span>
                <span class="price-blur__item__wrapp__dur">per month</span>
                <div class="price-blur__item__wrapp__serv">
                    <span>Unlimited Team Members</span>
                    <span>24/ 7 Phone Support</span>
                </div>
                <a class="price-blur__item__wrapp__btn">purchase</a>
            </div>
        </div>
    </div>
</section>