<section class="promo">
    <div class="promo-txt-ph">
        <span>&#60;Here is what you get&#62;</span>
    </div>
    <div class="promo-txt-tab">
        <span>&#60;Here is what you get&#62;</span>
    </div>
    <div class="promo-table">
        <div class="promo-table__item">
            <div class="promo-table__item__img">
                <img src="./img/promo1.png" alt="#">
            </div>
            <div class="promo-table__item-wrapp">
                <div class="promo-table__item-wrapp__title">
                    Creatred to Make The Web Better
                </div>
                <div class="promo-table__item-wrapp__txt">
                    Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                </div>
            </div>
        </div>
        <div class="promo-table__item">
            <div class="promo-table__item__img">
                <img src="./img/promo2.png" alt="#">
            </div>
            <div class="promo-table__item-wrapp">
                <div class="promo-table__item-wrapp__title">
                    Incredibly Powerful Tool
                </div>
                <div class="promo-table__item-wrapp__txt">
                    Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. 
                </div>
            </div>
        </div>
        <div class="promo-table__item">
            <div class="promo-table__item__img">
                <img src="./img/promo3.png" alt="#">
            </div>
            <div class="promo-table__item-wrapp">
                <div class="promo-table__item-wrapp__title">
                    Experimental Stuff
                </div>
                <div class="promo-table__item-wrapp__txt">
                    Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. 
                </div>
            </div>
        </div>
        <div class="promo-table__item">
            <div class="promo-table__item__img">
                <img src="./img/promo4.png" alt="#">
            </div>
            <div class="promo-table__item-wrapp">
                <div class="promo-table__item-wrapp__title">
                    Creatred to Make The Web Better
                </div>
                <div class="promo-table__item-wrapp__txt">
                    Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. 
                </div>
            </div>
        </div>
    </div>
    <div class="promo-cont">
        <div class="promo-cont__txt">
            <span>&#60;Here is what you get&#62;</span>
        </div>
        <div class="promo-cont__img">
            <img src="./img/promo_main.png" alt="">
        </div>
    </div>
</section>