@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Regular.woff2);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../font/Montserrat-Bold.woff2);
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url(../font/Montserrat-Light.woff2);
}

@font-face {
    font-family: 'Lato';
    src: url(../font/Lato-Regular.woff2);
}