header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/header_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    position: relative;
    margin-bottom: 66px;

    .navbar{
        width: 86.96%;
        height: 95px;
        max-width: 1200px;
        display: flex;
        align-items: center;

        &-overlay{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;

            &_block{
                display: block;
            }
        }

        &-cont{
            &-btn{
                display: none;

                @include ph481-992{
                    display: block;
                    @include navFont;
                    border: 1px solid rgba(141, 129, 172, 1);
                    border-radius: 40px;
                    padding: 11px 30px;
                    color: rgba(255, 255, 255, 1);
                    background-color: rgba(141, 129, 172, 1);
                    margin-left: auto;
                    height: 40px;

                    &:hover{
                        background-color: rgba(255, 255, 255, 1);
                        color: rgba(141, 129, 172, 1);
                        cursor: pointer;
                    }
                }

                @include ph320-480{
                    display: block;
                    @include navFont;
                    border: 1px solid rgba(141, 129, 172, 1);
                    border-radius: 40px;
                    width: 126px;
                    height: 37px;
                    padding: 11px 23px;
                    color: rgba(255, 255, 255, 1);
                    background-color: rgba(141, 129, 172, 1);
                    margin-left: auto;
                    margin-right: auto;

                    &:hover{
                        background-color: rgba(255, 255, 255, 1);
                        color: rgba(141, 129, 172, 1);
                        cursor: pointer;
                    }
                }
            }
    
            &-logo{
                width: 160px;
                height: 41px;
                background-image: url(../img/navbar-logo.png);
                background-size: cover;
                background-repeat: no-repeat;

                &:hover{
                    background-image: url(../img/navbar-logo_hover.png);
                    width: 160px;
                    height: 41px;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
    
                @include ph481-992{
                    margin-bottom: 20px;
                    display: block;
                }

                @include ph320-480{
                    background-image: url(../img/logoPh.png);
                    width: 43px;
                    height: 41px;

                    &:hover{
                        background-image: url(../img/logoPh_hover.png);
                        width: 43px;
                        height: 41px;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }

            &-menu{
                display: none;
                
                @include ph320-480{
                    display: block;
                    width: 26px;;
                    height: 21px;
                    background-image: url(../img/menu_rect.png);
                    margin-right: 0px;
                    margin-top: auto;
                    margin-bottom: auto;

                    &_x{
                        background-image: url(../img/menu_x.png);
                        z-index: 20;
                    }
                }
            }

            @include ph481-992{
                display: flex;
                width: 100%;
            }

            @include ph320-480{
                display: flex;
                width: 100%;
            }
        }

        &-menu{
            display: flex;
            align-items: center;
            margin-left: auto;
            width: 85%;

            &__item{
                margin-right: 7%;
                @include navFont;

                &:hover{
                    color: rgba(255, 255, 255, 1);
                    cursor: pointer;
                }

                &:first-child{
                    margin-left: auto;

                    @include ph481-992{
                        margin-left: 0%
                    }
                        
                    @include ph320-480{
                        margin-left: 0%;
                    }
                    
                }

                &-btn{
                    @include navFont;
                    border: 1px solid rgba(141, 129, 172, 1);
                    border-radius: 40px;
                    padding: 10px 35px;
                    width: 145px;
                    height: 37px;
                    color: rgba(255, 255, 255, 1);
                    background-color: rgba(141, 129, 172, 1);

                    &:hover{
                        background-color: rgba(255, 255, 255, 1);
                        color: rgba(141, 129, 172, 1);
                        cursor: pointer;
                    }

                    @include ph481-992{
                        display: none;
                    }

                    @include ph320-480{
                        display: none;
                    }
                }

                @include ph481-992{
                    line-height: 18px;
                }

                @include ph481-992{
                    margin-right: 0%;
                    margin-left: 5%;

                    &:hover{
                        color: rgba(255, 255, 255, 1);
                        cursor: pointer;
                    }
                }

                @include ph320-480{
                    height: 88px;
                    width: 100%;
                    margin-right: 0%;
                    padding-top: 30px;
                    padding-left: 35px;
                    background-color: rgba(51, 51, 51, 1);
                    border-bottom: 2px solid rgb(70, 70, 70);
                    @include navFontPh;
                    color: rgba(255, 255, 255, 1);

                    &:hover{
                        color: rgba(141, 129, 172, 1);
                        position: relative;
                        &::before{
                            content: "";
                            display: inline-block;
                            width: 8px;
                            height: 53px;
                            background-color: rgba(141, 129, 172, 1);
                            position: absolute;
                            left: 0px;
                            top: 16px;
                        }
                    }
                }
            }

            @include ph481-992{
                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;
            }

            @include ph320-480{
                display: none;
                flex-direction: column;
                position: absolute;
                top: 103px;
                right: 25px;

                &_block{
                    display: flex;
                    z-index: 20;
                }
            }
        }

        @include ph481-992{

        }

        @include ph481-992{
            padding: 0px 20px 0px 20px;
            background-color: rgba(39, 38, 42, 1);
            width: 100%;
            height: 118px;
            padding-top: 24px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }
        
        @include ph320-480{
            width: 100%;
            height: 103px;
            background-color: rgba(39, 38, 42, 1);
            padding: 0px 15px 0px 15px;
            position: relative;
        }

    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 70px;

        h1 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 82px;
            line-height: 82px;
            color: rgba(255, 255, 255, 1);
            margin-bottom: 20px;

            @include ph320-480{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 48px;
            }

            @include ph481-992{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 72px;
                line-height: 72px;
            }
        }

        h2 {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 30px;
            color: rgba(141, 129, 172, 1);
            margin-bottom: 20px;

            @include ph320-480{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                margin-left: 15px;
            }

            @include ph481-992{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 24px;
            }
        }

        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: rgba(132, 142, 151, 1);
            text-transform: uppercase;

            @include ph320-480{
            margin-left: 5px;
            }

            @include ph481-992{
                
            }
        }

        @include ph320-480{
            padding: 0px 25px;
        }

        @include ph481-992{
            margin-left: 70px;
            margin-right: 70px;
        }

        @include ph320-480{
            margin-top: 60px;
        }
    
        @include ph481-992{
            margin-top: 50px;
        }
    }
    
    .dwld{
        position: absolute;
        bottom: -63px;
        display: flex;
        flex-direction: column;
        text-align: center;

        &__btn{
            width: 390px;
            height: 62px;
            margin-bottom: 20px;
            border: 1px solid rgba(141, 129, 172, 1);
            border-radius: 40px;
            background-color: rgba(141, 129, 172, 1);
            padding: 20px 66px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 21px;
            line-height: 22px;
            color: rgba(255, 255, 255, 1);

            &:hover{
                background-color: rgba(255, 255, 255, 1);
                color: rgba(141, 129, 172, 1);
                cursor: pointer;
            }

            @include ph320-480{
                width: 290px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                padding: 20px 10px;
            }

            @include ph481-992{
                
            }
            
        }

        &__txt{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            color: rgba(132, 142, 151, 1);
        }
    }
    
}