@mixin ph320-480 {
    @media (min-width: 240px) and (max-width: 480px){
        @content;
    }
}

@mixin ph481-992 {
    @media(min-width: 481px) and (max-width: 992px)  {
        @content;
    }
}

@mixin navFont {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: rgba(141, 129, 172, 1);
}

@mixin navFontPh {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: rgba(141, 129, 172, 1);
}

@mixin peopleFont {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}


