.people {
    width: 100%;
    background-image: url(../img/people_lay1300.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0% 4%;
    padding-top: 110px;
    padding-bottom: 21px;

    h2{
        font-family: 'Montserrat-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        margin-bottom: 80px;

        @include ph481-992{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 42px;
            line-height: 44px;
        }

        @include ph481-992{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 48px;
        }  
    }

    .people-wrapp{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 7%;
        grid-row-gap: 112px;

        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;

            &-img{
                margin-bottom: 30px;

                @include ph481-992{
                    &_pxl{
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                    &_cod{
                        margin-bottom: -8px;
                    }
                }
            }

            &-txt{
                font-family: 'Lato';
                font-style: italic;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: rgba(255, 255, 255, 1);
            }

            @include ph481-992{
                padding: 0px 1%;
            }
        }

        @include ph481-992{
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 60px;
        }

        @include ph320-480{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            row-gap: 45px;
            padding: 0% 9%;
        }
    }

    p{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: rgba(162, 145, 165, 1);
        margin-top: 119px;
        padding: 0% 14%;
        text-align: center;
        position: relative;

        &::after{
            content: "";
            display: block;
            width: 65%;
            height: 2px;
            background-color: rgba(100, 87, 102, 1);
            position: absolute;
            width: 75%;
            left: 12.5%;
            top: 115%;


            @include ph481-992{
                width: 75%;
                left: 11.5%;
                top: 115%;
            }

            @include ph320-480{
                width: 100%;
                left: 0%;
                top: 104%;   
            }
        }

        @include ph481-992{
            padding: 0% 0%;
        }

        @include ph320-480{
            margin-top: 40px;
            padding: 0% 10%;
        }
    }

    @include ph320-480{
        padding: 0% 0%;
        padding-top: 110px;
        padding-bottom: 21px;
    }

}