.price{
    width: 100%;
    background-image: url(../img/price_lay.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -14px;
    padding-top: 14px;
    overflow: hidden;

    &-title{
        font-family: 'Montserrat-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        text-align: center;
        margin-top: 110px;
        padding-bottom: 10px;
        color: rgba(255, 255, 255, 1);

        @include ph320-480{
            font-family: 'Montserrat-Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 42px;
            margin-top: 20px;
            }
    }

    &-blur{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(20px);
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 15px;
        justify-content: center;
        padding-top: 110px;
        padding-bottom: 20px;
        

        &__item{
            max-width: 257px;
            width: 21%;
            height: 457px;
            overflow: hidden;

            &_hover{
                width: 24%;
                max-width: 300px;
                height: 560px;
                margin-top: -50px;

                @include ph320-480{
                    margin-top: 25px;
                }
            }

            &__name{
                width: 100%;
                height: 97px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Montserrat-Light';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 24px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 1);
                background-color: rgba(255, 255, 255, 0.11);

                &_hover{
                    background-color: rgba(0, 0, 0, 0.25);
                    height: 110px;
                }
                
            }

            &__wrapp{
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.06);
                display: flex;
                flex-direction: column;
                align-items: center;
                color: rgba(255, 255, 255, 1);

                &__value{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 90px;
                    margin-top: 30px;
                    
                    & span:last-child{
                        font-family: 'Montserrat-Bold';
                    }
                }

                &__dur{
                    font-family: 'Montserrat-Light';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: uppercase;
                    margin-top: 20px;
                }

                &__serv{
                    font-family: 'Montserrat-Light';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 15px;
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 3px;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 65px;

                    &_edt{
                        margin-bottom: 15px;
                    }
                }

                &__btn{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 15px;
                    margin-top: 35px;
                    background-color: rgba(255, 255, 255, 0.11);
                    padding: 15px 40px;
                    border-radius: 20px;
                    text-transform: uppercase;
                    cursor: pointer;

                    &_hover{
                        margin-top: 100px;
                    }


                }

                &_hover{
                    background-color: rgba(0, 0, 0, 0.15);
                }

            }

            @include ph481-992{
                margin-left: auto;
                margin-right: auto;
                max-width: 275px;
                width: 90%;

                &_hover{
                    width: 100%;
                    max-width: 300px;
                }
            }

            @include ph320-480{
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 25px;
                min-width: 275px;

                &_hover{
                    width: 100%;
                    max-width: 300px;
                }
            }
        }

        @include ph481-992{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2, 457px);
            grid-row-gap: 70px;
            margin-left: auto;
            padding-bottom: 70px;
            padding-left: 10px;
            padding-right: 10px;
        }

        @include ph320-480{
        display: block;
        padding-top: 30px;
        }
    }
    @include ph481-992{

    }
}