.promo{
    display: flex;
    width: 100%;
    padding-left: 6%;
    padding-top: 98px;
    background-color: rgba(244, 244, 244, 1);

    &-txt-ph{
        display: none;
        span{

            @include ph481-992{
            font-family: 'Montserrat-Bold';
            font-style: normal;
            font-weight: 700;
            // font-size: 48px;
            line-height: 50px;
            color: rgba(141, 129, 172, 1);
            margin-bottom: 15px;
            margin-left: 20px;
            }
        }
        
        @include ph481-992{
            display: block;
        }

        @include ph320-480{
            display: none;
        }

    }

    &-txt-tab{
        display: none;
        span{
            @include ph320-480{
                display: block;
                font-family: 'Montserrat-Bold';
                font-style: normal;
                color: rgba(141, 129, 172, 1);
                margin-bottom: 15px;
                font-weight: 700;
                font-size: 32px;
                line-height: 38px;
            }
        }

        @include ph481-992{
            display: none;
        }

        @include ph320-480{
            display: block;
            margin-bottom: 30px;
            text-align: center;
            padding-left: 4px;
            padding-right: 18px;
        }
    }
    &-table{
        width: 41%;

        &__item{
            display: flex;
            margin-bottom: 35px;

            &__img{
                margin-right: 20px;

                @include ph320-480{
                    margin-bottom: 30px;
                }
            }

            &-wrapp{

                &__title{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 21px;
                    color: rgba(50, 50, 50, 1);

                    @include ph481-992{
                        margin-bottom: 15px;
                    }

                    @include ph320-480{
                        text-align: center;
                        line-height: 16px;
                        margin-bottom: 15px;
                    }
                    
                }

                &__txt{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: rgba(132, 142, 151, 1);

                    @include ph320-480{
                        text-align: center;
                    }
                }
            }

            @include ph320-480{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        @include ph481-992{
            width: 100%;
            padding-right: 3%;
            padding-top: 40px;
        }

        @include ph320-480{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 0px 10px;
        }
    }

    .promo-cont{
        padding-left: 40px;
        margin-left: auto;

        &__txt{

            span{
                display: block;
                font-family: 'Montserrat-Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 50px;
                color: rgba(141, 129, 172, 1);
                margin-bottom: 15px;
                margin-left: 20px;

            }

            @include ph481-992{
                display: none;
            }

            @include ph320-480{
                display: none;
            }
        }

        &__img{
            margin-left: auto;

            img{
                width: 100%;

                @include ph320-480{
                    width: 160%;
                    
                }
            }

            @include ph320-480{
                width: 100%;
                overflow: hidden;
            }
        }

        @include ph481-992{
            padding-left: 0px;
        }

        @include ph320-480{
            padding-left: 0px;
        }

    }

    @include ph481-992{
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        background-color: rgba(255, 255, 255, 1);
    }

    @include ph320-480{
        display: flex;
        flex-direction: column;
        padding: 0px;
        background-color: rgba(255, 255, 255, 1);
    }
}