.revl-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 70px;
    padding: 0px 220px;

    h2{
        font-family: 'Montserrat-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 54px;
        text-transform: uppercase;
        color: rgba(99, 92, 115, 1);
        margin-bottom: 35px;
        text-align: center;

        @include ph320-480{
            font-weight: 700;
            font-size: 26px;
            line-height: 28px;
            text-align: center;
        }

        @include ph481-992{
            font-weight: 700;
            font-size: 42px;
            line-height: 42px;
            text-align: center;
        }
    }

    h3{
        text-align: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        color: rgba(50, 50, 50, 1);
        margin-bottom: 20px;

        @include ph320-480{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }

    }

    &-git-btn{
        display: flex;

        &-cont{
            display: flex;

            &-watch{
                margin-right: 10px;
                border: 1px solid rgba(50, 50, 50, 0.3);
                border-radius: 2px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 900;
                font-size: 12px;
                line-height: 15px;
                padding-top: 3px;
                padding-bottom: 3px;
                padding-right: 6px;

                & span:first-child {
                    margin-right: 7px;
                    padding: 3px 6px 4px 30px;
                    background-color: rgba(50, 50, 50, 0.2);
                    border-right: 1px solid rgba(50, 50, 50, 0.3);
                    position: relative;

                    &::before{
                        content: "";
                        display: block;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        left: 8px;
                        top: 3px;
                        background-image: url(../img/eye_fa.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }

                & span:last-child{
                    font-size: 11px;
                }
            }

            &-star{
                margin-right: 10px;
                border: 1px solid rgba(50, 50, 50, 0.3);
                border-radius: 2px;

                font-family: 'Lato';
                font-style: normal;
                font-weight: 900;
                font-size: 12px;
                line-height: 15px;
                padding-top: 3px;
                padding-bottom: 3px;
                padding-right: 6px;

                & span:first-child {
                    margin-right: 7px;
                    padding: 3px 6px 4px 30px;
                    background-color: rgba(50, 50, 50, 0.2);
                    border-right: 1px solid rgba(50, 50, 50, 0.3);
                    position: relative;

                    &::before{
                        content: "";
                        display: block;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        left: 8px;
                        top: 3px;
                        background-image: url(../img/star_fa.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }

                & span:last-child{
                    font-size: 11px;
                }
            }
        }

        &-fork{
            margin-right: 10px;
            border: 1px solid rgba(50, 50, 50, 0.3);
            border-radius: 2px;

            font-family: 'Lato';
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            line-height: 15px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-right: 6px;

            & span:first-child {
                margin-right: 7px;
                padding: 3px 6px 4px 30px;
                background-color: rgba(50, 50, 50, 0.2);
                border-right: 1px solid rgba(50, 50, 50, 0.3);
                position: relative;

                &::before{
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 8px;
                    top: 3px;
                    background-image: url(../img/branch_fa.png);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                
            }

            & span:last-child{
                font-size: 11px;
            }

            @include ph320-480{
                width: 120px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
            }
        }

        @include ph320-480{
            display: block;
        }
    }

    @include ph320-480{
        padding: 10px;
    }
    
    @include ph481-992{
        padding: 0px 30px;
    }
}